* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.demo1 {
  margin: 20px;
  position: relative;
  width: 500px;
  height: 104px;
  overflow: hidden;
  border: 2px solid red;
}
.demo1 ul {
  width: 9000px;
  height: 100px;
}
.demo1 ul li {
  float: left;
  width: 100px;
  height: 100px;
  list-style: none;
  text-align: center;
  line-height: 100px;
  font-size: 50px;
  border-left: 1px dashed #ddd;
}
.demo1 .current {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -50px;
  width: 100px;
  height: 100px;
  background: rgba(0, 0, 0, 0.3);
}

.demo2 {
  margin: 20px;
  position: relative;
  width: 54px;
  height: 250px;
  overflow: hidden;
  border: 2px solid red;
}
.demo2 ul {
  width: 50px;
  height: 5000px;
}
.demo2 ul li {
  width: 50px;
  height: 50px;
  list-style: none;
  text-align: center;
  line-height: 50px;
  font-size: 25px;
  border-bottom: 1px dashed #ddd;
}
.demo2 .current {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -25px;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.3);
}

@keyframes marqueeAnimation {
  from {
    /* margin-left:0; */
    transform: translateX(0px);
  }
  to {
    /* margin-left:-700px; */
    transform: translateX(-700px);
  }
}
