* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#lottery{
  margin: 20px;
  position: relative;
  width: 500px;
  height: 104px;
  overflow: hidden;
  border: 2px solid red;
}
#lottery ul {
  width: 9000px;
  height: 100px;
}
#lottery ul li {
  float: left;
  width: 100px;
  height: 100px;
  list-style: none;
  text-align: center;
  line-height: 100px;
  font-size: 50px;
  border-left: 1px dashed #ddd;
}
#lottery .current {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -50px;
  width: 100px;
  height: 100px;
  background: rgba(0, 0, 0, 0.3);
}


#lottery2 {
    margin: 20px;
    position: relative;
    width: 250px;
    height: 54px;
    overflow: hidden;
    border: 2px solid red;
  }
#lottery2 ul {
  width: 9000px;
  height: 50px;
}
#lottery2 ul li {
  float: left;
  width: 50px;
  height: 50px;
  list-style: none;
  text-align: center;
  line-height: 50px;
  font-size: 25px;
  border-right: 1px dashed #ddd;
}
#lottery2 .current {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -25px;
  width: 52px;
  height: 50px;
  background: rgba(0, 0, 0, 0.3);
}
